@model Cinema

@{
    ViewData["Title"] = "Delete Cine";
}


<div class="row text">

    <div class="col-md-8 offset-2">
        <p>
            <h1> Delete Cine Confirmed @Model.Name</h1>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width:150px" />
                </div>
                <div class="form-group">
                    <label asp-for="Logo" class="control-label"></label>
                    <input asp-for="Logo" class="form-control" readonly />

                </div>


                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />

                </div>


                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />

                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>


                    <a class="btn btn-outline-secundary" asp-action="Index" asp-controller="Cinemas">Volver</a>
                </div>

            </div>
        </div>
    </div>


    @section Scripts{
        <script>
            $(document).ready(function () {
                var output = document.getElementById('ProfilePicturePreview');
                output.src = $("#ProfilePictureURL").val();
            })

        </script>
    }
